# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
# tuples are immutable. Can we modify it in any way?
dir(tup)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [26]:
# note that mutable objects within a tuple can still be modified
tup[1].append(3)
print(tup)
tup[1] = tup[1].append(10)

('foo', [1, 2, 3], True)

TypeError: 'tuple' object does not support item assignment

In [27]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [28]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [29]:
('foo', 'bar') * 2 - ('foo', 'bar')

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [30]:
# note that objects themselves are not copied, only references to them
tup = ([1, 2], 'string') * 4
print(tup)
tup[2].append(3)
print(tup)

([1, 2], 'string', [1, 2], 'string', [1, 2], 'string', [1, 2], 'string')
([1, 2, 3], 'string', [1, 2, 3], 'string', [1, 2, 3], 'string', [1, 2, 3], 'string')

#### Unpacking tuples

In [31]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [32]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

Swapping variable names in many languages would look like so

tmp = a

a = b

b = tmp

In [33]:
a, b = 1, 2
a
b
b, a = a, b
a
b

1

In [34]:
a, b = b, a
a is b

False

In [35]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [36]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [37]:
# by convention, you can use an underscore for unwanted values. Nothing special about "rest"
a, b, *_ = values

#### Tuple methods

In [38]:
a = (1, 2, 2, 2, 3, 4, 2)

# count how many times an object occurs
print(a.count(2))

# find an element's first positional index
print(a.index(2))
print(a.index(4))

4
1
5

### List

In [39]:
# list methods
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [40]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
print(b_list)
b_list[1] = 'peekaboo'
b_list

['foo', 'bar', 'baz']

['foo', 'peekaboo', 'baz']

In [41]:
# list funtion is frequently used to materialize an iterator or generator object
gen = range(10)
gen
print(list(gen))
print([gen])
print((gen))
print(tuple(gen))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[range(0, 10)]
range(0, 10)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

#### Adding and removing elements

In [42]:
print(b_list)

['foo', 'peekaboo', 'baz']

In [43]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [44]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [45]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [46]:
# pop returns last element and removes it from list. Has anyone ever used the returned value of pop?
tmp = b_list.pop()
print(tmp)
print(b_list)

dwarf
['foo', 'red', 'baz']

In [47]:
b_list.append('foo')
print(b_list)
b_list.remove('foo')
b_list

['foo', 'red', 'baz', 'foo']

['red', 'baz', 'foo']

In [48]:
'dwarf' in b_list

False

In [49]:
'dwarf' not in b_list

True

#### Concatenating and combining lists

In [50]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [51]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [52]:
# This is preferred compared to the below example as far less copying has to be done.
# everything = []
# for chunk in list_of_lists:
#     everything.extend(chunk)

In [53]:
# everything = []
# for chunk in list_of_lists:
#     everything = everything + chunk

#### Sorting

In [54]:
a = [7, 2, 5, 1, 3]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]

In [55]:
list('foxiE'.lower()) #in ['a', 'e', 'i', 'o', 'u']

['f', 'o', 'x', 'i', 'e']

In [56]:
def count_vowels(string):
    count = 0
    for letter in string.lower():
        if letter in ['a', 'e', 'i', 'o', 'u']:
            count += 1
    
    return count

In [57]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
print(b)
b.sort(key=lambda x: -count_vowels(x))
print(b)

['He', 'saw', 'six', 'small', 'foxes']
['foxes', 'He', 'saw', 'six', 'small']

#### Binary search and maintaining a sorted list

In [58]:
# bisect module does not check if list is sorted and will run on an unsorted list. This can cause issues. 
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
print(bisect.bisect(c, 2))
print(bisect.insort(c, 2))
print(bisect.bisect(c, 5))
print(bisect.insort(c, 6))
c

4
None
7
None

[1, 2, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [59]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [60]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [61]:
print(len(seq))
print(seq[7:8])
print(seq[7:])
seq[7:15] = [21, 22, 23]
print(seq)

9
[0]
[0, 1]
[7, 2, 3, 6, 3, 5, 6, 21, 22, 23]

In [62]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 21, 22, 23]

In [63]:
seq[-4:]
seq[-6:-2]

[3, 5, 6, 21]

In [64]:
# Can supply a third number signaling a step
seq[::2]

[7, 3, 3, 6, 22]

In [65]:
# reverse a list by print elemnts of the list backwards
seq[::-1]

[23, 22, 21, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

i = 0
for value in collection:
   # do something with value
   i += 1

for i, value in enumerate(collection):
   # do something with value

In [66]:
# this code creates a dict with the key being the object in a sequence and the value being its location
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [67]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print(sorted([7, 1, 2, 6, 0, 3, 2], key=lambda x: x * -1))
sorted('horse race')

[0, 1, 2, 2, 3, 6, 7]
[7, 6, 3, 2, 2, 1, 0]

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip

In [68]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [69]:
# number of tuples produced is determined by the shortest sequence
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [70]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [71]:
# unzipping using the zip command. This of this as transposing the tuples
pitchers = [('Nolan', 'Ryan'),
            ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
print(first_names)
print(last_names)
print(list(zip(*pitchers)))

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')
[('Nolan', 'Roger', 'Schilling'), ('Ryan', 'Clemens', 'Curt')]

#### reversed

In [72]:
# Reversed creates a generator object, so reversed sequence isn't created until materialized
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

Common names for dict are a hash map or associative array

In [73]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [74]:
# same syntax to access elements or set elements as lists and tuples
d1[7] = 'an integer'
print(d1)
d1['b']

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [75]:
# is there a key with name 'b' in d1?
'b' in d1

True

In [76]:
# remove key, value pairs using del keyword or pop method
d1[5] = 'some value'
print(d1)
d1['dummy'] = 'another value'
print(d1)
del d1[5]
print(d1)
ret = d1.pop('dummy')
print(ret)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [77]:
# keys and values methods return iterators. They will return in the same order as one another
print(list(d1.keys()))
print(list(d1.values()))

['a', 'b', 7]
['some value', [1, 2, 3, 4], 'an integer']

In [78]:
# merge on dict into another
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [79]:
# The dict functiona accepts two tuples as arguments as well
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

value = some_dict.get(key, default_value)

In [80]:
print(mapping.get(3, 'not here'))
print(mapping.get('Waldo', "can't find him"))

1
can't find him

In [81]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [82]:
# can use setdefault method to accomplish the above task
by_letter_two = {}
for word in words:
    letter = word[0]
    by_letter_two.setdefault(letter, []).append(word)
by_letter_two

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [83]:
from collections import defaultdict

by_letter_three = defaultdict(list)
for word in words:
    by_letter_three[word[0]].append(word)
by_letter_three

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict key types

In [84]:
# dictionary keys should be hashable and immutable. If a tuple, all items of tuple should also be immutable
print(hash('string'))
print(hash((1, 2, (2, 3))))
hash((1, 2, [2, 3])) # fails because lists are mutable

-8897232087042624375
1097636502276347782

TypeError: unhashable type: 'list'

In [85]:
# convert a list to a tuple to use it as a key in a dict
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

Set is an unordered collection of unique elements

In [86]:
print(set([2, 2, 2, 1, 3, 3]))
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [87]:
# sets support mathematical set operations
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [88]:
print(a.union(b))
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [89]:
print(a.intersection(b))
a & b

{3, 4, 5}

{3, 4, 5}

In [90]:
# News to me that you can use the |=, &= operators
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [91]:
# set elements should generally be immutable and must be hashable
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
print(my_set)
{[1, 2, 3, 4]}

{(1, 2, 3, 4)}

TypeError: unhashable type: 'list'

In [92]:
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set))
a_set.issuperset({1, 2, 3})

True

True

In [93]:
{1, 2, 3} == {3, 2, 1}

True

List of most common set operations can be found on page 66

### List, Set, and Dict Comprehensions

In [94]:
nums = range(20)
result_1 = []
for num in nums:
    if num % 2 == 0:
        result_1.append(num)
result_2 = [num for num in nums if num % 2 == 0]

print(result_1)
print(result_2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [95]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

#### Can use dictionary and set comprehensions in the same way
dict_comp = {

set_comp = {

In [96]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [97]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [98]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [99]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [100]:
# Here is one way to get all names in all_data that have 2 or more e's
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [101]:
# nested list comprehension solution
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

Does anyone have thoughts on the two above methods? Readability, conciseness?

In [102]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [103]:
# recreate the nested list from flattened list
[tuple(x for x in tup) for tup in some_tuples]

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

## Functions

In [104]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [105]:
# all valid ways to call the function. Keyword arguments must follow positional arguments
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

45.0

Functions are created with the `def` keyword and complete with the `return` keyword. If there is no return statement, the function will return `None`.

### Namespaces, Scope, and Local Functions

In [106]:
# a_list is created in local namespace and then destroyed
def func():
    a_list = []
    for i in range(5):
        a.append(i)
a_list

[2, 3, 7, None]

In [107]:
# a is modified everytime func is called because it lives in the global namespace
a = []
def func():
    for i in range(5):
        a.append(i)
func()
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [108]:
# Must use global keyword within a function to assign value to variable in global scope
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

#### Thoughts (discuss)
* Ideally functions should operate locally and not depend on the global namespace
* Assigning variables to the global environment from within a function is not best practice

### Returning Multiple Values

In [109]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [110]:
return_value = f()

In [111]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [112]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [113]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [114]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [115]:
# functions are objects and therefore can be applied from a list
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [116]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [117]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [118]:
def short_function(x):
    return x * 2

# Not best practice to store anonymous functions and reuse them more than once or twice. thoughts?
equiv_anon = lambda x: x * 2
equiv_anon(2)

4

In [119]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [120]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [121]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [122]:
def add_numbers(x, y):
    return x + y

In [123]:
add_five = lambda y: add_numbers(5, y)
add_five(10)

15

In [124]:
from functools import partial
add_five = partial(add_numbers, x=5)

In [125]:
print(add_five(y=10))
add_five(10)

15

TypeError: add_numbers() got multiple values for argument 'x'

### Generators

Python uses the iterator protocol to consistently iterate over different types of objects

In [126]:
# Iterating over dictionary yields dict keys
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [127]:
# python tries to create iterator object when you try to loop over dict
dict_iterator = iter(some_dict)
dict_iterator

In [128]:
list(dict_iterator)

['a', 'b', 'c']

Most methods expecting a list or list-like object will also accept any iterable object.

Using the `yield` keyword returns a generator

In [129]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [130]:
gen = squares()
gen

In [131]:
# The code is not actually run until we request the objects
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

In [132]:
# wrap expression in parens instead of brackets / braces
gen = (x ** 2 for x in range(100))
gen

In [133]:
# equivalent to above expression
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
gen

In [134]:
# can supply generators as function args to many functions
print(sum(x ** 2 for x in range(100)))
dict((i, i **2) for i in range(5))

328350

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [135]:
# itertools has many good functions for creating generators
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [136]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [137]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [138]:
print(attempt_float('1.2345'))
attempt_float('something')

1.2345

'something'

In [139]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [140]:
# can suppress specific exceptions
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [141]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [142]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [143]:
attempt_float((1, 2))

(1, 2)

In [144]:
# code in a finally block will execute regardless of if code in try succeeds or not
f = open('requirements.txt', 'w')

try:
    write_to_file(f)
finally:
    print('executing finally')
    f.close()

executing finally

NameError: name 'write_to_file' is not defined

In [145]:
# else will only run if try block succeeds
f = open('requirements.txt', 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

Failed

#### Exceptions in IPython

In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [146]:
# file opens in read only mode by default
path = 'examples/segismundo.txt'
f = open(path)

In [147]:
for line in f:
    pass

In [148]:
# lines come out of file with EOL markers intact
lines = [x.rstrip() for x in open(path)]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [149]:
f.close()

In [150]:
# connection is automatically closed once all code in with block is executed
with open(path) as f:
    lines = [x.rstrip() for x in f]
lines[:5]

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;']

In [151]:
f = open(path)
print(f.read(10))
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

Sueña el r

b'Sue\xc3\xb1a el '

#### Table 3.3 on page 82 shows all modes in which a file can be opened

In [152]:
# above, read advances the file handle's position by the number of bytes read. Tell gives you the current position
print(f.tell())
f2.tell()

11

10

In [153]:
import sys
sys.getdefaultencoding()

'utf-8'

In [154]:
# seek changes the handle to the given position in the file
f.seek(3)
f.read(1)

'ñ'

In [155]:
f.close()
f2.close()

In [156]:
# write out a file with no blank lines
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [157]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [158]:
with open(path) as f:
    chars = f.read(10)
chars

'Sueña el r'

In [159]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [160]:
print(data.decode('utf8'))
data[:4].decode('utf8')

Sueña el

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [161]:
# converting from one unicode encoding to another
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

Sueña el r

In [162]:
os.remove(sink_path)

In [163]:
# error will be thrown when reading incomplete bytes
f = open(path)
print(f.read(5))
f.seek(4)
f.read(1)

Sueña

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [164]:
f.close()